{% extends '@Project/Theme/base.html.twig' %}


{% block main %}
    <div class="container book-page">
        <section class="book-header">
            <div class="row">
                <div class="col-sm-4">
                    {% if book.pictures %}
                    <ul class="book-slider" data-book-slider>
                        {% for picture in book.pictures %}
                        <li data-slider-page>
                            <img src="{{ media_url(picture) }}" />
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <h1 class="content-heading">{{ book.title }}</h1>
                    <h2 class="content-heading">{{ book.author.name }}</h2>
                    <div class="bio">{{ grid_render(book.biography) }}</div>
                </div>
            </div>
        </section>
        <article>
            <div class="content-grid">
                {{ grid_render(book.content) }}
            </div>
        </article>
        <a href="{{ path('project_default_collection') }}" class="back">Zurück zur Sammlung</a>
    </div>
{% endblock %}