<!DOCTYPE html>
<html lang="{{ resolve_locale() }}">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bundles/project/css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/project/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/project/css/slick.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock %}
    <title>Kunst im Kinderzimmer</title>
</head>
<body class="site">
    <header>
        <div class="container">
            <ul class="language">
                <li class="{% if resolve_locale() == 'de' %}active{% endif %}">
                    <a href="{{ path('project_theme_home_index_de') }}">DE</a>
                </li>
                <li>/</li>
                <li class="{% if resolve_locale() == 'en' %}active{% endif %}">
                    <a href="{{ path('project_theme_home_index_en') }}">EN</a>
                </li>
            </ul>
            <a class="menu-btn" data-menu-btn></a>
            <nav>
                <ul class="clearfix" data-menu-items>
                    <li class="{% if navigation is defined and navigation == 'home' %}active{% endif %}">
                        <a href="{{ path('project_theme_home_index_' ~ resolve_locale()) }}">{{ translate_string('navigation.home') }}</a>
                    </li>
                    <li class="{% if navigation is defined and navigation == 'book' %}active{% endif %}">
                        <a href="{{ path('project_theme_book_index_' ~ resolve_locale()) }}">{{ translate_string('navigation.book') }}</a>
                    </li>
                    <li class="{% if navigation is defined and navigation == 'blog' %}active{% endif %}">
                        <a href="{{ path('project_theme_blog_index_' ~ resolve_locale()) }}">{{ translate_string('navigation.blog') }}</a>
                    </li>
                    <li class="{% if navigation is defined and navigation == 'author' %}active{% endif %}">
                        <a href="{{ path('project_theme_author_index_' ~ resolve_locale()) }}">{{ translate_string('navigation.author') }}</a>
                    </li>
                </ul>
            </nav>
            <hr class="line-top"/>
        </div>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <hr class="line-bottom"/>
            <div class="contact-impressum"><a href="{{ path('project_theme_home_contact_' ~ resolve_locale()) }}">{{ translate_string('navigation.contact') }}</a></div>
        </div>
    </footer>
    <script src="{{ asset('/bundles/project/js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/project/js/slick.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/project/js/class/Base.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/project/js/main.js') }}" type="text/javascript"></script>
</body>
</html>